.notification {
    font-size: 14px;
  }
  .notifications {
    position: absolute;
    z-index: 2;
    top: 37.5px;
    right: -67px;
    width: 260px;
    max-height: 450px;
    color: black;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Custom CSS for scrollbar */
.notifications::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.notifications::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175); /* Color of the thumb */
  border-radius: 3px; /* Border radius of the thumb */
}

.notifications::-webkit-scrollbar-track {
  background-color: rgba(209, 213, 219);
  border-radius: 100px; /* Color of the track */
}
